
    <div ng-controller="testCtrl" ng-click="abc()">
        <p ng-model="name">{{name}}</p>

        <h4>《this  is  directive 》</h4>

        <cool></cool>

        <h4>《this is  dataTable !!!!!!!!!!》</h4>
        <table id="newTable" class="table  table-bordered table-striped"></table>

        <h4>《this is  bootstrapTable !!!!!!!!!!想要了解更多下载bootstraptable 奥》</h4>
        <table id="bootstrapTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th data-field="id">总接入数目</th>
                    <th data-field="name">离线数目</th>
                    <th data-field="price">在线数目</th>
                    <th data-field="id">合格数目</th>
                    <th data-field="name">气液比预警</th>
                    <th data-field="price">气液比报警</th>
                    <th data-field="id">加油流速预警</th>
                    <th data-field="name">加油流速报警</th>
                    <th data-field="price">油气流速预警</th>
                    <th data-field="id">油气流速报警</th>
                    <th data-field="name">当日总结</th>
                </tr>
            </thead>
        </table>
        <h4>《this is  echarts !!!!!!!!!!》</h4>
        <div id="main" style="width: 600px;height:400px;">

        </div>
    </div>
