*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
}
#container{
    width: 1349px;
    font-family: "微软雅黑";
}
/*#header{
    width: 1349px;
    height: 170px;
    border:1px solid red ;
}
#footer{
    width: 1349px;
    height: 100px;
    border: 1px solid red;
}*/

#contain{
    width: 1100px;
    height: 756px;
    margin: 0 auto;
}

/*left-words*/
.left-words{
    margin-top: 100px;
    font-size: 12px;
    /*color: #bfbfbf;*/
    color: gray;
}

.right img{
    padding-top: 130px;
    padding-left: 30px;
}


.right div{
    float: left;
    color: #a3a3a3;
}
.right div:first-child{
    width: 450px;
    height: 740px;
    /*border: 1px solid blue;*/
}
.right div:last-child{
    width: 640px;
    height: 740px;
   /* border: 1px solid green;*/
}
.right div:last-child p{
    margin-bottom: 20px;
    color: #000000;
    font-size: 14px;
    line-height: 24px;


}
.right div:last-child .line{
    width: 640px;
    height: 1px;
    background-color: black;
    margin-top: 40px;
    margin-bottom: 55px;
}
.right div:last-child h1{
    font-size: 28px;
}
.right div:last-child a{
    text-decoration: none;
    color: white;
}
.right div:last-child p:last-child{
    width: 165px;
    height: 50px;
    font-size: 14px;
    background-color: #eda800;
    margin-left: 470px;
    margin-top: 50px;
    text-align: center;
    line-height: 50px;
}