*
{
    margin: 0;
    padding: 0;
    font-family:"Microsoft YaHei UI";
}
.header
{
    width: 1349px;
    height: 733px;
    background: royalblue;
}
.nav
{
    width: 1349px;
    height: 170px;
    background: royalblue;
}
.show-sofa
{
    width: 1349px;
    height: 563px;
    background: url("../images/European-style-2/European_02.jpg") no-repeat;
    float: left;
}
.show-sofa>p
{
    float: left;
    background: url("../images/European-style-2/top-text-show.png") no-repeat;
    width: 400px;
    height: 300px;
    font-size: 70px;
    margin: 360px 830px;
    line-height: 150px;
    text-align: left;
}
.content
{
    width: 1160px;
    height: 2030px;
    float: left;
    margin-left: 90px;
}
.location
{
    width: 1160px;
    height: 30px;
    float: left;
    margin-top: 20px;
    color: #929292;
    font-size: 14px;
}
.luxury-goods
{
    width: 1160px;
    height: 878px;
    float: left;
    margin-top: 20px;
}
.luxury-goods-top
{
    width: 498px;
    height: 84px;
    float: left;
    margin-left: 325px;
}
.luxury-goods-top>ul>li
{
    float: left;
    list-style: none;
}
.luxury-goods-top>ul
{
    width: 430px;
    height: 84px;
    margin: 0 auto;
}
.hx
{
    border-bottom: 1px solid #8d8d8d;
    width: 140px;
    height: 10px;
    margin-top: 22px;
}
.luxury-goods-top>ul>li:nth-of-type(2)
{
    font-size: 30px;
    color: #9e9d9d;
    width: 130px;
    float: left;
    margin-left: 10px;

}
.luxury-goods-top-text
{
    font-size: 20px;
    color: #9e9d9d;
    float: left;
    margin: 10px 140px;
    width: 200px;
}
.luxury-goods-1
{
    width: 1160px;
    height: 335px;
    float: left;
    margin-top: 30px;
}
.luxury-goods-1-left
{
    width: 720px;
    height: 335px;
    float: left;
    box-shadow:-5px 5px 3px #c0c0c0 ;
}
.luxury-goods-1-right
{
    width: 438px;
    height: 339px;
    background: #e6e5e5;
    float: left;
}
.luxury-goods-1-right>p
{
    width: 400px;
    height: 250px;
    text-align: center;
    float: left;
    margin-left: 20px;
    line-height: 32px;
    font-size: 14px;
    text-indent: 2em;
    margin-top: 40px;
}
.learn-more
{
    width: 84px;
    height: 26px;
    background: #c4c4c4;
    border: none;
    float: right;
    margin-right: 15px;
    outline: none;
    color: white;
}
.learn-more2
{
    width: 84px;
    height: 26px;
    background: #ffe100;
    border: none;
    float: right;
    margin-right: 15px;
    outline: none;
}
.luxury-goods-top-text2
{
    font-size: 20px;
    color: #9e9d9d;
    float: left;
    margin: 10px 150px;
    width: 200px;
}
.luxury-goods-2
{
    width: 1160px;
    height: 938px;
    float: left;
    margin-top: 30px;
}
.luxury-goods-2-left
{
    width: 367px;
    height: 938px;
    background: #e6e5e5;
    float: left;
}
.luxury-goods-2-left-1
{
    width: 367px;
    height: 50px;
}
.luxury-goods-2-left-1>img
{
    float: left;
    margin-left: 160px;
}
.luxury-goods-2-left-fg
{
    width: 367px;
    height: 10px;
    background: white;
}
.luxury-goods-2-left>div:nth-child(3)
{
    margin-top: 35px;
}
.luxury-goods-2-right
{
    width: 780px;
    height: 938px;
    float: left;
    background: #e6e5e5;
    margin-left: 10px;
}
.luxury-goods-2-right-top
{
    width: 780px;
    height: 340px;
    background: url("../images/European-style-2/European_13.png") no-repeat;
    background-size: 780px 340px;
}
.tex
{
    width: 689px;
    height: 278px;
    color: #929191;
    text-indent: 2em;
    float: left;
    margin: 20px 30px;
    line-height: 50px;
}
.sofa-show
{
    width: 665px;
    height: 140px;
    float: left;
    margin: 70px 60px;
}
.more
{
    width: 84px;
    height: 26px;
    background: #c4c4c4;
    border: none;
    float: right;
    margin-right: 10px;
    margin-top: 130px;
    outline: none;
    color: white;
}